nav {
    width: 100%;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color: gray;
    margin: 0 6%;
    border-radius: 3%;
    padding: 2%;
}

.actorName {
    text-align: center  ;
}

main header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px; /* controls space between items */
    margin-bottom: 20px;
    font-size: 22px;
    border-bottom: 2px solid white;
}

.a {
    border-right: 2px solid white;
}